/* Default classes start*/
.ml-auto {
    margin-left: auto;
}

.mr-auto {
    margin-right: auto;
}

.mt-auto {
    margin-top: auto;
}

.mb-auto {
    margin-bottom: auto;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.my-auto {
    margin-top: auto;
    margin-bottom: auto;
}

.text-center {
    text-align: center;
}

.bg-dark-blue {
    background-color: #263238;
}

.bg-yellow {
    background-color: #fcb322;
}

.bg-orange {
    background-color: #ef6c00;
}

.bg-green {
    background-color: #8bc34a;
}

.bg-red {
    background-color: #e74c3c;
}

.bg-white {
    background-color: #fff;
}

.bg-marengo {
    background-color: #455a64;
}

.bg-ligth-marengo {
    background-color: #546e7a;
}

.bg-violet {
    background-color: #6370b6;
}

.bg-ligth-blue {
    background-color: #64b5f6;
}

.bg-blue {
    background-color: #4f71ce;
}

.bg-steel-blue {
    background-color: #42a5f5;
}

.bg-crimson {
    background-color: #d32f2f;
}

.border-grey {
    border: 1px solid #dcdcdc;
}
/* Default classes end*/

/* Default components start*/
.default-section {
    padding: 120px 0;
}

.title {
    margin-bottom: 56px;
    font-family: 'robotobold', sans-serif;
    font-size: 2.25rem;
}

.title.title-white {
    color: #fff;
}

.default-text {
    font-size: .9375rem;
    line-height: 1.6em;
    color: #b0bec5;
}

.fas.fa-chevron-right {

    font-size: .875rem;
    color: #8bc34a;
}

/* ========== Button start ========== */
.btn {
    display: inline-block;
    line-height: 1;
    color: #fff;
}

.small-btn {
   padding: 10px 17px;
   font-family: 'robotoregular', sans-serif;
   font-size: .75rem;
   -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
           border-radius: 4px;
}

.large-btn {
    padding: 16px 25px;
    font-family: 'robotomedium', sans-serif;
    font-size: 1rem;
}
/* ========== Button end ========== */

/* ========== Breadcrumb start ========== */
.breadcrumb {
    padding: 45px 0;
}

.breadcrumb > li {
    display: inline-block;
    font-size: .9375rem;
}

.breadcrumb > li a {
    color: #b0bec5;
}

.breadcrumb > li + li::before {
    content: '-';
    padding: 0 5px;
    color: #8bc34a;
}
/* ========== Breadcrumb end ========== */

/* ========== Aside start ========== */
.aside-section {
    padding: 20px 30px 30px;
}

.aside-section + .aside-section {
    margin-top: 30px;
}

.aside-title {
    margin-bottom: 25px;
    padding-bottom: 18px;
    font-family: 'robotobold', sans-serif;
    font-size: 1.25rem;
    border-bottom: 1px solid #dde3e8;
}
/* ========== Aside end ========== */

/* ========== Card start ========== */
.card {
    -webkit-box-shadow: 0 1px 2px rgba(205, 214, 222, .75);
       -moz-box-shadow: 0 1px 2px rgba(205, 214, 222, .75);
            box-shadow: 0 1px 2px rgba(205, 214, 222, .75);
    -webkit-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    -moz-transition: all .1s ease-in;
    transition: all .1s ease-in;
}

.card:hover {
    -webkit-box-shadow: 0 16px 20px rgba(216, 216, 216, .75);
       -moz-box-shadow: 0 16px 20px rgba(216, 216, 216, .75);
            box-shadow: 0 16px 20px rgba(216, 216, 216, .75);
}

.card-img img {
    width: 100%;
}

.card-description {
    padding: 25px 20px;
    border-bottom: 1px solid #e7ecf2;
}

.card-item-info {
    font-family: 'robotomedium', sans-serif;
}

.card-item-info .card-title {
    display: block;
    margin-bottom: 12px;
}

.card-item-info .card-category {
    display: block;
    font-size: .875rem;
    color: #8bc34a;
}

.card-price {
    font-family: 'robotobold', sans-serif;
    font-size: 1.25rem;
}

.card-author-info {
    padding: 16px 20px;
}

.card-author img {
    width: 30px;
    height: 30px;
    margin-right: 14px;
}

.card-author span {
    font-family: 'robotomedium', sans-serif;
    font-size: .875rem;
    color: #546e7a;
}

.product-rating {
    margin-right: 9px;
}

.product-rating li {
    display: inline-block;
    font-size: .75rem;
    color: #ffa726;
}

.product-reviews-count {
    margin-top: 5px;
    font-size: .75rem;
}

.product-reviews-count::before {
    content: '(';
    color: #b0bec5;
}

.product-reviews-count::after {
    content: ')';
    color: #b0bec5;
}
/* ========== Card end ========== */
/* Default components end*/

/* Custom styles start */
/* ========== Header start ========== */
.top-header {
    padding: 26px 0;
}

.need-help {
    font-size: .934rem;
    color: #546e7a;
}

.need-help span span {
    color: #e74c3c;
}

.user-controls {
    margin-left: 30px;
}

.dropdown-item {
    position: relative;
}

.dropdown-item + .dropdown-item {
    margin-left: 16px;
}

.dropdown-control {
    position: relative;
    width: 34px;
    height: 34px;
    font-size: .875rem;
    color: #a0a0a0;
    background-color: #f5f5f5;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    cursor: pointer;
}

.dropdown-item.show .dropdown-control {
    color: #263238;
}

.notify-count {
    position: absolute;
    top: -8px;
    right: -5px;
    width: 18px;
    height: 18px;
    font-family: 'open_sanssemibold', sans-serif;
    font-size: .69rem;
    line-height: 18px;
    text-align: center;
    color: #fff;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
}

.dropdown-menu {
    position: absolute;
    top: 0;
    display: none;
    min-width: 268px;
    margin-top: 31px;
    z-index: 999;
    background-color: #fff;
    border: 1px solid #d3d3d3;
    -webkit-box-shadow: 0 12px 22px rgba(0, 0, 0, .2);
       -moz-box-shadow: 0 12px 22px rgba(0, 0, 0, .2);
            box-shadow: 0 12px 22px rgba(0, 0, 0, .2);
}

.dropdown-menu.show {
    display: block;
}

.dropdown-notify-item {
    padding: 18px 21px;
}

.dropdown-notify-item + .dropdown-notify-item {
    border-top: 1px solid #d3d3d3;
}

.notify-item-avatar {
    margin-right: 20px;
    width: 48px;
    height: 48px;
}

.notify-card-img {
    margin-right: 15px;
    width: 73px;
    height: 57px;
}

.notify-item-info h6 {
    font-size: .75rem;
    color: #84b743;
}

.notify-item-info .notify-author {
    font-family: 'robotobold', sans-serif;
    font-size: .75rem;
}

.notify-item-info .notify-product {
    font-family: 'robotomedium', sans-serif;
    font-size: .9375rem;
}

.notify-item-info .notify-date {
    font-size: .625rem;
    color: #707070;
}

.notify-item-info .notify-price {
    font-family: 'robotomedium', sans-serif;
    color: #000;
}

.dropdown-notify-item i {
    margin-top: 8px;
    color: #b0bec5;
}

.dropdown-notify-item:hover i {
    color: #ef6c00;
}

.dropdown-notify-total {
    padding: 19px 39px 0 28px;
    font-family: 'robotobold', sans-serif;
    border-top: 1px solid #d3d3d3;
}

.dropdown-btn-wrap {
    margin-top: 19px;
    margin-bottom: 12px;
    text-align: center;
}

.dropdown-btn-wrap .btn {
    font-family: 'robotobold', sans-serif;
    font-size: .875rem;
    text-align: center;
}

.btn.btn-to-card {
    margin-right: 5px;
    padding: 11px 18px;
}

.btn.btn-to-checkout {
    padding: 11px 13px;
}

.user-dropdown-control {
    position: relative;
    margin-left: 20px;
    cursor: pointer;
}

.user-avatar {
    width: 34px;
    height: 34px;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
}

.user-info-wrap {
    margin-left: 15px;
}

.user-info-wrap .user-name {
    font-family: 'robotomedium', sans-serif;
    font-size: .875rem;
    color: #222;
}

.user-info-wrap .fa-chevron-down {
    margin-left: 13px;
    color: #707070;
}

.user-info-wrap .balance {
    font-family: 'robotobold', sans-serif;
    font-size: .875rem;
    color: #8bc34a;
}

.dropdown-menu.dropdown-menu-list {
    min-width: 160px;
    margin-top: 25px;
    padding: 24px 19px 28px;
}

.dropdown-menu.dropdown-menu-list li + li {
    margin-top: 20px;
}

.dropdown-menu.dropdown-menu-list .fas.fa-chevron-right {
    margin-right: 10px;
}

.dropdown-menu.dropdown-menu-list a {
    font-size: .75rem;
    color: #546e7a;
}


.user-controls .btn.small-btn {
    margin-left: 26px;
}

.user-controls .btn.small-btn + .btn.small-btn {
    margin-left: 7px;
}

.bottom-header {
    padding: 25px 0;
}

.header-nav {
    font-family: 'robotomedium', sans-serif;
    font-size: .875rem;
    color: #fff;
}

.header-nav a + a {
    margin-left: 40px;
}
/* ========== Header end ========== */

/* ========== Inner start ========== */
.inner {
    padding-top: 157px;
    padding-bottom: 170px;
    background: url(../img/inner-bg.jpg) no-repeat center / cover;
}

.inner.small-inner {
    padding-top: 57px;
    padding-bottom: 67px;
    background: url(../img/small-inner-bg.jpg) no-repeat center / cover;
}

.inner h1 {
    margin-bottom: 30px;
    font-family: 'robotobold', sans-serif;
    font-size: 3rem;
    color: #fff;
}

.inner-subtitle {
    margin-bottom: 50px;
    font-family: 'robotomedium', sans-serif;
    font-size: 1.25rem;
    color: #fff;
}

.inner.small-inner .inner-subtitle {
    margin-bottom: 25px;
}

.search-wrap {
    position: relative;
    max-width: 671px;
    margin: 0 auto;
}

.search-input {
    width: 100%;
    height: 56px;
    padding-left: 25px;
    padding-right: 50px;
    font-family: 'robotomedium', sans-serif;
    font-size: .875rem;
    letter-spacing: .05em;
    color: #90a4ae;
    background-color: #fff;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    -webkit-box-shadow: 1px 1px 10px rgba(100, 100, 100, .75);
       -moz-box-shadow: 1px 1px 10px rgba(100, 100, 100, .75);
            box-shadow: 1px 1px 10px rgba(100, 100, 100, .75);
}

.search-input::-webkit-input-placeholder { color: #90a4ae; }
.search-input::-moz-placeholder { color: #90a4ae; }
.search-input:-moz-placeholder { color: #90a4ae; } 
.search-input:-ms-input-placeholder { color: #90a4ae; }

.search-input-btn {
    position: absolute;
    right: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);
    font-size: 1.25rem;
    background-color: transparent;
    color: #7c939f;
}
/* ========== Inner end ========== */

/* ==========  Why choose foxtar start ========== */
.why-choose-foxtar .title {
    margin-bottom: 80px;
}

.advantage-title {
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: 'robotomedium', sans-serif;
    font-size: 1.625rem;
    color: #fff;
    cursor: pointer;
}

.advantage-title:hover {
    color: #8bc34a;
}
/* ==========  Why choose foxtar end========== */ 

/* ==========  Tutorials start========== */ 
.tutorials-item {
    padding-bottom: 40px;
}

.tutorials-img img {
    width: 100%;
    margin-bottom: 40px;
}

.tutorials-name {
    font-family: 'robotobold', sans-serif;
    font-size: 1.5rem;
}
/* ==========  Tutorials end========== */ 

/* ========== All items wrap start ========== */
.all-items-wrap {
    padding-bottom: 109px;
}
/* ========== All items wrap end ========== */

/* ========== Aside section start ========== */
.aside-section .default-chevron-list {
    font-size: .9375rem;
}

.aside-section .default-chevron-list li + li {
    margin-top: 23px;
}

.aside-section .default-chevron-list .fas.fa-chevron-right {
    margin-right: 13px;
}

.aside-section .btn {
    width: 100%;
    text-align: center;
}

.all-items-wrap .aside-section .btn {
    margin-top: 16px;
    font-size: .9375rem;
}

.aside-section .category-item-count {
    color: #90a4ae;
}

.aside-section.price-range-section .aside-title {
    margin-bottom: 15px;
}

.aside-section.price-range-section .btn {
    margin-top: 50px;
}

.aside-section.price-range-section .btn span {
    margin-left: 10px;
}

.all-items-wrap .aside-section .card {
    margin-bottom: 27px;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
    -webkit-transition: none;
    -o-transition: none;
    -moz-transition: none;
    transition: none;
}

.all-items-wrap .aside-section .card + .card {
    padding-top: 26px;
    border-top: 1px solid #dde3e8;
}

.all-items-wrap .aside-section .card:hover {
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}

.all-items-wrap .aside-section .card-description {
    margin-top: 20px;
    margin-bottom: 15px;
    padding: 0;
    border-bottom: none;
}

.all-items-wrap .aside-section .card-title {
    font-family: 'robotobold',sans-serif;
    margin-bottom: 10px;
}

.all-items-wrap .aside-section .card-price {
    margin-top: 5px;
    font-size: 1rem;
}

.all-items-wrap .aside-section .card-author-info {
    padding: 0;
}

.all-items-wrap .aside-section .product-rating {
    margin-right: 0;
}

.aside-section.product-price-section .btn {
    -webkit-box-shadow: 0 1px 2px rgba(69, 90, 100, .75);
       -moz-box-shadow: 0 1px 2px rgba(69, 90, 100, .75);
            box-shadow: 0 1px 2px rgba(69, 90, 100, .75);
}

.aside-section.product-price-section .btn + .btn {
    margin-top: 7px;
}

.aside-section.product-price-section i {
    margin-right: 7px;
}

.product-info-list li {
    font-family: 'robotomedium', sans-serif;
    font-size: .875rem;
} 

.product-info-list li + li {
    margin-top: 20px;
}

.product-info-list li span {
    font-family: 'robotoregular', sans-serif;
    color: #70838d;
}
/* ========== Aside section end ========== */

/* ========== View Controls start ========== */
.view-controls {
    margin-bottom: 30px;
    padding: 20px;
}

.sort-wrap {
    font-size: .875rem;
    color: #707070;
}

.sort-wrap i:hover {
    color: #455a64;
}

.sort-wrap .sort-name {
    margin: 0 12px;
}

.sort-wrap .fa-sort {
    font-size: 1.125rem;
}

.view-wrap i {
    color: #90a4ae;
}

.view-wrap i:hover {
    color: #8bc34a;
}

.view-wrap i + i {
    margin-left: 12px;
}
/* ========== View Controls end ========== */

/* ========== Card start ========== */
.all-items-wrap .card {
    margin-bottom: 30px;
}
/* ========== Card end ==========  */

/* ========== Pagination start ========== */
.pagination-wrap {
    margin-top: 30px;
}

.pagination li {
    display: inline-block;
}

.pagination li + li {
    margin-left: 5px;
}

.pagination a {
    display: inline-block;
    width: 43px;
    height: 38px;
    font-family: 'robotomedium', sans-serif;
    line-height: 38px;
    text-align: center;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 2px rgba(205, 214, 222, 0.75);
       -moz-box-shadow: 0 1px 2px rgba(205, 214, 222, 0.75);
            box-shadow: 0 1px 2px rgba(205, 214, 222, 0.75);
    -webkit-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    -moz-transition: all .1s ease-in;
    transition: all .1s ease-in;
}

.pagination li.active a {
    color: #fff;
    background-color: #e74c3c;
}

.pagination a:hover {
    -webkit-box-shadow: 0 16px 20px rgba(216, 216, 216, .75);
       -moz-box-shadow: 0 16px 20px rgba(216, 216, 216, .75);
            box-shadow: 0 16px 20px rgba(216, 216, 216, .75);
}
/* ========== Pagination end ========== */

/* ========== Product baner start ========== */
.product-baner {
    padding: 15px;
}

.product-baner img {
    width: 100%;
}
/* ========== Product baner end ========== */

/* ========== Product description start ========== */
.description-title {
    margin-top: 37px;
    margin-bottom: 25px;
    font-family: 'robotomedium', sans-serif;
    font-size: 1.875rem;
}

.description-text {
    color: #707070;
}
/* ========== Product description end ========== */

/* ========== Product links start ========== */
.product-links {
    margin-top: 45px;
}

.product-links .btn + .btn {
    margin-left: 18px;
}

.product-social a {
    display: inline-block;
    width: 54px;
    height: 50px;
    font-size: 1.125rem;
    color: #fff;
    text-align: center;
    line-height: 50px;
}
/* ========== Product links end ========== */

/* Custom styles end */


  