/* Default classes start*/
.ml-auto {
    margin-left: auto;
}

.mr-auto {
    margin-right: auto;
}

.mt-auto {
    margin-top: auto;
}

.mb-auto {
    margin-bottom: auto;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.my-auto {
    margin-top: auto;
    margin-bottom: auto;
}

.text-center {
    text-align: center;
}

.bg-dark-blue {
    background-color: #263238;
}

.bg-yellow {
    background-color: #fcb322;
}

.bg-orange {
    background-color: #ef6c00;
}

.bg-green {
    background-color: #8bc34a;
}

.bg-red {
    background-color: #e74c3c;
}

.bg-white {
    background-color: #fff;
}

.border-grey {
    border: 1px solid #dcdcdc;
}
/* Default classes end*/

/* Default components start*/
.content-wrapper {
    padding-bottom: 109px;
}

/* ========== Button start ========== */
.btn {
    display: inline-block;
    line-height: 1;
    color: #fff;
}

.small-btn {
   padding: 10px 17px;
   font-family: 'robotoregular', sans-serif;
   font-size: .75rem;
   border-radius: 4px;
}

.large-btn {
    padding: 16px 76px;
    font-family: 'robotomedium', sans-serif;
    font-size: .9375rem;
}
/* ========== Button end ========== */

/* ========== Breadcrumb start ========== */
.breadcrumb {
    padding: 45px 0;
}

.breadcrumb > li {
    display: inline-block;
    font-size: .9375rem;
}

.breadcrumb > li a {
    color: #b0bec5;
}

.breadcrumb > li + li::before {
    content: '-';
    padding: 0 5px;
    color: #8bc34a;
}
/* ========== Breadcrumb end ========== */

/* ========== Aside start ========== */
.aside-section {
    padding: 20px 30px 40px;
}

.aside-section + .aside-section {
    margin-top: 30px;
}

.aside-title {
    margin-bottom: 25px;
    padding-bottom: 18px;
    font-family: 'robotobold', sans-serif;
    font-size: 1.25rem;
    border-bottom: 1px solid #dde3e8;
}
/* ========== Aside end ========== */

/* ========== Card start ========== */
.card {
    box-shadow: 0 1px 2px rgba(205, 214, 222, .75);
    transition: all .1s ease-in;
}

.card:hover {
    box-shadow: 0 16px 20px rgba(216, 216, 216, .75);
}

.card-img {
    width: 100%;
}

.card-description {
    padding: 25px 20px;
    border-bottom: 1px solid #e7ecf2;
}

.card-item-info {
    font-family: 'robotomedium', sans-serif;
}

.card-item-info .card-title {
    display: block;
    margin-bottom: 12px;
}

.card-item-info .card-category {
    display: block;
    font-size: .875rem;
    color: #8bc34a;
}

.card-price {
    font-family: 'robotobold', sans-serif;
    font-size: 1.25rem;
}

.card-author-info {
    padding: 16px 20px;
}

.card-author img {
    width: 30px;
    height: 30px;
    margin-right: 14px;
}

.card-author span {
    font-family: 'robotomedium', sans-serif;
    font-size: .875rem;
    color: #546e7a;
}

.product-rating {
    margin-right: 9px;
}

.product-rating li {
    display: inline-block;
    font-size: .75rem;
    color: #ffa726;
}

.product-reviews-count {
    font-size: .75rem;
}

.product-reviews-count::before {
    content: '(';
    color: #b0bec5;
}

.product-reviews-count::after {
    content: ')';
    color: #b0bec5;
}

/* ========== Card end ========== */
/* Default components end*/

/* Custom styles start */
/* ========== Header start ========== */
.top-header {
    padding: 26px 0;
}

.need-help {
    font-size: .934rem;
    color: #546e7a;
}

.need-help span span {
    color: #e74c3c;
}

.user-controls {
    margin-left: 30px;
}

.dropdown-item + .dropdown-item {
    margin-left: 16px;
}

.dropdown-control {
    position: relative;
    width: 34px;
    height: 34px;
    font-size: .875rem;
    color: #a0a0a0;
    background-color: #f5f5f5;
    border-radius: 50%;
    cursor: pointer;
}

.notify-count {
    position: absolute;
    top: -8px;
    right: -5px;
    width: 18px;
    height: 18px;
    font-family: 'open_sanssemibold', sans-serif;
    font-size: .69rem;
    line-height: 18px;
    text-align: center;
    color: #fff;
    border-radius: 50%;
}

.user-dropdown-control {
    margin-left: 20px;
}

.user-avatar {
    width: 34px;
    height: 34px;
    border-radius: 50%;
}

.user-info-wrap {
    margin-left: 15px;
}

.user-info-wrap .user-name {
    font-family: 'robotomedium', sans-serif;
    font-size: .875rem;
    color: #222;
}

.user-info-wrap .fa-chevron-down {
    margin-left: 13px;
    color: #707070;
}

.user-info-wrap .balance {
    font-family: 'robotobold', sans-serif;
    font-size: .875rem;
    color: #8bc34a;
}

.user-controls .btn.small-btn {
    margin-left: 26px;
}

.user-controls .btn.small-btn + .btn.small-btn {
    margin-left: 7px;
}

.bottom-header {
    padding: 25px 0;
}

.header-nav {
    font-family: 'robotomedium', sans-serif;
    font-size: .875rem;
    color: #fff;
}

.header-nav a + a {
    margin-left: 40px;
}
/* ========== Header end ========== */

/* ========== Inner start ========== */
.inner {
    padding-top: 157px;
    padding-bottom: 170px;
    background: url(../img/inner-bg.jpg) no-repeat center / cover;
}

.inner.small-inner {
    padding-top: 57px;
    padding-bottom: 67px;
    background: url(../img/small-inner-bg.jpg) no-repeat center / cover;
}

.inner h1 {
    margin-bottom: 30px;
    font-family: 'robotobold', sans-serif;
    font-size: 3rem;
    color: #fff;
}

.inner-subtitle {
    margin-bottom: 50px;
    font-family: 'robotomedium', sans-serif;
    font-size: 1.25rem;
    color: #fff;
}

.inner.small-inner .inner-subtitle {
    margin-bottom: 25px;
}

.search-wrap {
    position: relative;
    max-width: 671px;
    margin: 0 auto;
}

.search-input {
    width: 100%;
    height: 56px;
    padding-left: 25px;
    padding-right: 50px;
    font-family: 'robotomedium', sans-serif;
    font-size: .875rem;
    letter-spacing: .05em;
    color: #90a4ae;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 1px 1px 10px rgba(100, 100, 100, .75);
}

.search-input::-webkit-input-placeholder { color: #90a4ae; }
.search-input::-moz-placeholder { color: #90a4ae; }
.search-input:-moz-placeholder { color: #90a4ae; } 
.search-input:-ms-input-placeholder { color: #90a4ae; }

.search-input-btn {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.25rem;
    background-color: transparent;
    color: #7c939f;
}
/* ========== Inner end ========== */

/* ========== Aside section start ========== */
.aside-section .default-chevron-list {
    font-size: .9375rem;
}

.aside-section .default-chevron-list li + li {
    margin-top: 23px;
}

.aside-section .fa-chevron-right {
    margin-right: 12px;
    font-size: .875rem;
    color: #8bc34a;
}

.aside-section .category-item-count {
    color: #90a4ae;
}

.aside-section .card {
    box-shadow: none;
    transition: none;
    margin-bottom: 0;
}

.aside-section .card + .card {
    padding-top: 26px;
    border-top: 1px solid #dde3e8;
}

.aside-section .card:hover {
    box-shadow: none;
}

.aside-section .card-description {
    padding: 20px 0 0;
    border-bottom: none;
}

.aside-section .card-title {
    font-family: 'robotobold',sans-serif;
    margin-bottom: 10px;
}

.aside-section .card-price {
    font-size: 1rem;
}

.aside-section .card-author-info {
    padding: 16px 0 27px;
}

.aside-section .product-rating {
    margin-right: 0;
}

.aside-section .btn {
    margin-top: 16px;
}
/* ========== Aside section end ========== */

/* ========== View Controls start ========== */
.view-controls {
    margin-bottom: 30px;
    padding: 20px;
}

.sort-wrap {
    font-size: .875rem;
    color: #707070;
}

.sort-wrap i:hover {
    color: #455a64;
}

.sort-wrap .sort-name {
    margin: 0 12px;
}

.sort-wrap .fa-sort {
    font-size: 1.125rem;
}

.view-wrap i {
    color: #90a4ae;
}

.view-wrap i:hover {
    color: #8bc34a;
}

.view-wrap i + i {
    margin-left: 12px;
}
/* ========== View Controls end ========== */

/* ========== All items wrap start ========== */
.all-items-wrap .card {
    margin-bottom: 30px;
}
/* ========== All items wrap end ==========  */

/* ========== Page Navigation start ========== */
.page-navigation {
    margin-top: 30px;
}

.pagination li {
    display: inline-block;
}

.pagination li + li {
    margin-left: 8px;
}

.pagination a {
    display: inline-block;
    width: 43px;
    height: 38px;
    font-family: 'robotomedium', sans-serif;
    line-height: 38px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(205, 214, 222, 0.75);
}

.pagination li.active a {
    color: #fff;
    background-color: #e74c3c;
}

.pagination a:hover {
    box-shadow: 0 16px 20px rgba(216, 216, 216, .75);
}
/* ========== Page Navigation end ========== */
/* Custom styles end */


  